*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background:white;
    background-attachment: fixed;
    color: black;

}

header{
    background: rgba(23, 23, 30, 0.00);
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 25;
    overflow: hidden;
}
.logoBlock{
    width: 70px;
    border-radius: 60px;
    overflow: hidden;

}
.logoImg{
    width: 70px;
}
.nav{
    list-style: none;
    display: flex;
    justify-content: right;
    margin: auto 20px;
    width: 85%;
}
.nav>li{
    margin-right: 10%;

}
.nav>li>a{
    color: aliceblue;
    font-size: 20px;

}




.bg{
    background:url('../img/roys.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 0;
    transition: 0s linear;
    transition-property: background-position;
    background-attachment:fixed;
    height: 100vh;
    /*width: 100vw;*/
    width: 100%;
    overflow: hidden;
}

/*header text*/
.headr_inherit{
    position: inherit;
    width: 100%;
    /*margin: 1px;*/
}
.header_text{
    width: 80%;
    /*position: absolute;*/
    margin:-40vh auto 30vh auto;
    color: #fff;
    text-align: center;
}
.header_header{
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
}
.header_paragraph{
    ont-size: 24px;
    line-height: 1.6em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
}
.header_link{
    width: 100%;
    margin-top: 40px;

}
.header_link>a{
    background-color: transparent;
    border: 2px solid #fff !important;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 1em 1.75em;
    margin-top: 300px;
    border-radius: 30px;
}
.header_link>a:hover{
    background-color: white;
    color: black;
}
.liner{
    border-bottom: 1px solid #636363;
    margin: 20px auto;
    border-radius: 5px;
}
/*header text end*/


/*main*/


main{

    overflow: hidden;
    margin:0 ;
    padding: 0;
    /*line-height: 35px;*/
    text-align: center;
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: .015em;
    font-weight: 300;
    font-style: normal;
}
.main_center{
    width: 80%;
    margin: 20px auto;
}
.msinParagraph{
    margin-bottom: 30px;
}
/*card info home*/
.info_cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.info_card{
    width: 25%;

}
.inf_card_img{
    width: 100%;
    height: auto;
    text-align: center;

}
.inf_card_img>img{

}
.info_card_hover{
  font-size: 24px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .015em;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 15px;
}
.info_card_content{

}
/*card info home end*/

/* homeContent*/
.home_content{
    text-align: left;
    margin-top: 40px;
}
.home_content_header{
    text-align: center;
    font-size: 36px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .015em;
    font-weight: 700;
    font-style: normal;
    margin: 20px;
}
.home_content_paragraphs{
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: .015em;
    font-weight: 300;
    font-style: normal;
    color: #636363;
}
.paragraph_contatcts_info{
  margin: 30px auto;
}
.paragraph_contatcts_info>p{
    margin: 20px auto;
    font-size: 22px;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: .015em;
    font-weight: 300;
    font-style: normal;
}
.contact_email>a,.contact_number>a
{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.8em;
    text-transform: none;
}
/*homeContent End*/
/*main-enf*/




@media only screen and (max-width: 767px) {
   
    .card_car{
        width: 100%;
    }
    
}
